<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="footer" style="width: 100%;height: 130px;">

		<div class="container">

			<footer>
				<!-- this is footer -->
				<!-- <div align="center">
					<font face="Comic Sans MS,arial,verdana" size=3 color="black">Proyecto de tesis de la UPC. Todos los derechos reservados a &copy; SIMESPDC19 </font>
				</div> -->
			
			</footer>
		</div>

	</div>
</body>
</html>
