<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

<title>Centros de Salud Cercanos</title>
<link rel="shortcut icon" type="image/png" th:href="@{/img/monicovid/icon_32.png}"></link>
<!--PARA EL MAPA -->
</head>
<body>
	<div th:replace="fragments/monicovidHeader :: header"></div>
	<div class="container">
	    <h3>CENTROS DE SALUD CERCANOS A MI</h3>
		<iframe src="https://www.google.com/maps/search/centros+de+salud+cercanos+a+mi+ubicación/" 
		width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy"> </iframe>
	</div>
	<div th:replace="fragments/monicovidFooter :: footer"></div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
