<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registro de T°</title>
	<link rel="shortcut icon" type="image/png" th:href="@{/img/monicovid/icon_32.png}"></link>
	<script type="text/javascript">
		function handleMouseMove(value) {
		const rangeValueElement = document.querySelector("#range-temperatura")
		const inputElement = document.querySelector('input[type="range"]')
		const fillAreaElement = document.querySelector(".fill-area")

		const hueRotate = "hue-rotate(" + value + "deg)"

		var valorTemperatura = document.getElementById("range")
		
		rangeValueElement.textContent = value
		//rangeValueElement.style.filter = hueRotate

		//inputElement.style.filter = hueRotate

		fillAreaElement.style.left = value + "vw"
		fillAreaElement.style.width = (100-value) + "vw"
		fillAreaElement.style.filter = hueRotate
		
		valorTemperatura.value = value
		}
	</script>
</head>
<body>
	<div th:replace="fragments/monicovidHeader :: header"></div>
	<div class="container">
		<div class="titulo" align= "center">
			<h1>TEMPERATURA</h1>
		</div>
		<form th:action="@{/temperatura/registrar}" method="post"
			th:object="${temperatura}">
			<div class="form-group">
				<div class="form-group" style="display:none;">
					<label for="idTemperatura">ID:</label> 
					<input type="text" th:field="*{idTemperatura}" readonly="readonly"
					class="form-control" id="idTemperatura"></input>
				</div>
				
				<div class="form-group" style="display:none;">
					<label for="name">ID DEL PACIENTE:</label> 
					<input type="text"	th:field="*{paciente.id}"
					class="form-control" id="name"></input>
					<div class="alert alert-danger" 
					th:if="${#fields.hasErrors('paciente')}"
					th:errors="*{paciente}"></div>
				</div>
					
				<div class="form-group" style="display:none;">
					<label for="fechaRegistro">FECHA DE REGISTRO:</label> 
					<input type="text"	th:field="*{fechaRegistro}"
					class="form-control" id="fechaRegistro" readonly="readonly"></input>
					<div class="alert alert-danger" 
					th:if="${#fields.hasErrors('fechaRegistro')}"
					th:errors="*{fechaRegistro}"></div>
				</div>
				<br>
				<br>
				<br>
				<div class="form-group">
					<figure class="imagen-texto-parametro">
						<div class="recomendaciones" align="center">

						<h2>Recomendaciones</h2>
							<ul>
							
								<li><p style="text-align: justify;">Si se mide debajo de la axila sumar 0.5 °C</p></li>
								<li><p style="text-align: justify;">La medida debajo de la lengua es la más precisa</p></li>
							</ul>
						</div>
						<div class="parametro" align="center">
							<img class="img-parametro" src="/img/monicovid/datos/temp_img.png" alt="">
						</div>
					</figure>		    
				</div>
				<div class="form-group">
					<br>
					<br>
					<br>
					<div align= "center">
						<main>
							<div class="fill-area"></div>
							<label id="range-temperatura" class="range-value" for="range">36.5</label>
							<br>
							 
							<input id="range" type="range" name="range" th:field="*{valor}" min="35.0" max="41.0" step="0.1" onmousemove="handleMouseMove(this.value)" onchange="handleMouseMove(this.value)" list="tickmarks"/>
							<br>
							<div id="tickmarks">
								<p>35</p>
								<div class="marca-out">
									<p>36</p>
								</div>
								<div class="marca-out">
									<p>37</p>
								</div>
								<p>38</p>
								<div class="marca-out">
									<p>39</p>
								</div>
								<div class="marca-out">
									<p>40</p>
								</div>
								<p>41</p>
							</div>
							<!-- <div class="span-valores">
								<span class="span-min"> 34 °C </span>
								<span class="span-max"> 40 °C </span>
							</div>	 -->
						</main>				
					</div>
				</div>				
			</div>
			<br>
			<br>
			<br>
			<div class="botones" align= "center">
				<button type ="submit" class="btn btn-primary">Aceptar</button>
				<a th:href="@{/monicovid/index}" class="cancelar">Cancelar</a>
			</div>
		</form>
	</div>
	<div th:replace="fragments/monicovidFooter :: footer"></div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
