<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Registro de Síntomas</title>
	<link rel="shortcut icon" type="image/png" th:href="@{/img/monicovid/icon_32.png}"></link>
</head>

<body>
	<div th:replace="fragments/monicovidHeader :: header"></div>
	<div class="container">
		<form th:action="@{/sintoma/registrar}" method="post"
			th:object="${sintoma}">
			<div class="form-group">
				<div class="form-group" style="display:none;">
					<label for="idSintoma">ID:</label> 
					<input type="text" th:field="*{idSintoma}" readonly="readonly"
					class="form-control" id="idSintoma"></input>
				</div>
				
				<div class="form-group" style="display:none;">
					<label for="name">ID DEL PACIENTE:</label> 
					<input type="text"	th:field="*{paciente.id}"
					class="form-control" id="name"></input>
					<div class="alert alert-danger" 
					th:if="${#fields.hasErrors('paciente')}"
					th:errors="*{paciente}"></div>
				</div>


				<div class="form-group form-bloque-sintoma">
					<div class="indicaciones">
						<label for="valor">¿Usted tuvo contacto con alguna persona con síntomas de COVID-19?</label> 
					</div>
					<div class="bloque-pregunta"> 
						<div class="form-check">	
							<input id="flexRadioDefault1" th:field="*{iscontacto}" name="contacto" class="form-check-input" type="radio" th:value="No" checked/>
							<label class="form-check-label" for="flexRadioDefault1">
								No
							</label>
						</div>
						<div class="form-check">	
							<input id="flexRadioDefault1" th:field="*{iscontacto}" name="contacto" class="form-check-input" type="radio" th:value="Sí"/>
							<label class="form-check-label" for="flexRadioDefault1">
								Sí
							</label>
						</div>
					</div>
				</div>	
				
				
				<div class="form-group bloque-sintomas form-bloque-sintoma">
					<div class="indicaciones">
						<label for="valor">Seleccione los síntomas que presenta:</label> 
					</div>	
					<div class="bloque-sintoma">
					
						<div class="bloque">
							<div class="form-check">	
								<input id="flexCheckDefault" name="sintoma[]" class="form-check-input" type="checkbox" th:value="0"/>
								<label class="form-check-label" for="flexCheckDefault">
									Dolor muscular o articulaciones
								</label>
							</div>
							<div class="form-check">
								<input id="flexCheckDefault" name="sintoma[]" class="form-check-input" type="checkbox" th:value="1"/>
								<label class="form-check-label" for="flexCheckDefault">
									Malestar general o fatiga
								</label>
							</div>
							<div class="form-check">	
								<input id="flexCheckDefault" name="sintoma[]" class="form-check-input" type="checkbox" th:value="2"/>
								<label class="form-check-label" for="flexCheckDefault">
									Tos seca
								</label>
							</div>
							<div class="form-check">
								<input id="flexCheckDefault" name="sintoma[]" class="form-check-input" type="checkbox" th:value="3"/>
								<label class="form-check-label" for="flexCheckDefault">
									Dolor de garganta
								</label>
							</div>
							<div class="form-check">	
								<input id="flexCheckDefault" name="sintoma[]" class="form-check-input" type="checkbox" th:value="4"/>
								<label class="form-check-label" for="flexCheckDefault">
									Pérdida del gusto
								</label>
							</div>
						</div>
						<div class="bloque">
							<div class="form-check">
								<input id="flexCheckDefault" name="sintoma[]" class="form-check-input" type="checkbox" th:value="5"/>
								<label class="form-check-label" for="flexCheckDefault">
									Pérdida del olfato
								</label>
							</div>
							<div class="form-check">	
								<input id="flexCheckDefault" name="sintoma[]" class="form-check-input" type="checkbox" th:value="6"/>
								<label class="form-check-label" for="flexCheckDefault">
									Enrojecimiento de la piel
								</label>
							</div>
							<div class="form-check">
								<input id="flexCheckDefault" name="sintoma[]" class="form-check-input" type="checkbox" th:value="7"/>
								<label class="form-check-label" for="flexCheckDefault">
									Diarrea
								</label>
							</div>
							<div class="form-check">	
								<input id="flexCheckDefault" name="sintoma[]" class="form-check-input" type="checkbox" th:value="8"/>
								<label class="form-check-label" for="flexCheckDefault">
									Vómitos
								</label>
							</div>
						</div>
					</div>
					<!-- <div >Ids seleccionados en matriz <span id="arr"></span></div>
  					<div >Ids seleccionados <span id="str"></span></div> -->
  					<input id="valor" type="text" th:field="*{valor}" class="form-control" style="display:none;"></input>
  					
				</div>	
				
				
				
						
				<div class="form-group" style="display:none;">
					<label for="fechaRegistro">FECHA DE REGISTRO:</label> 
					<input type="text"	th:field="*{fechaRegistro}"
					class="form-control" id="fechaRegistro" readonly="readonly"></input>
					<div class="alert alert-danger" 
					th:if="${#fields.hasErrors('fechaRegistro')}"
					th:errors="*{fechaRegistro}"></div>
				</div>
	
			</div>
			<br>
			<div class="botones">
				<input type="submit" value="Aceptar" class="btn btn-primary" onclick="javascript=this.disabled = true; form.submit();">
				<a th:href="@{/reporte/verReportes}" class="cancelar">Omitir</a>
			</div>
		</form>
	</div>
	<div th:replace="fragments/monicovidFooter :: footer"></div>
	<script>
		document.getElementById("flexRadioDefault1").setAttribute("checked","checked");
    
		$(document).ready(function() {
			
			$('[name="sintoma[]"]').click(function() {
			      
				var arr = $('[name="sintoma[]"]:checked').map(function(){
				   	return this.value;
				}).get();
				    
				var str = arr.join(',');
				    
				// $('#arr').text(JSON.stringify(arr));
				    
				// $('#str').text(str);
				$('#valor').val(str);
			});
	
		});


	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
