<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"></meta>
	<title>Lista de Contactos</title>
	<link rel="shortcut icon" type="image/png" th:href="@{/img/monicovid/icon_32.png}"></link>
</head>
<body>
	<div th:replace="fragments/monicovidHeader :: header"></div>

	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="titulo botones titulo-lista" align= "center">
						<h1>Contactos en caso de emergencia</h1>
						<a sec:authorize="hasRole('ROLE_USER')" th:href="@{/contacto/irRegistrar}"
						id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-plus">Añadir <i class="fas fa-plus"></i></span>
						</a>					

					</div>
					<br>
					<br>
					<span th:unless="${listaContactos != null}" class="letra-rosa no-results">No se han encontrado resultados</span>	
					<table th:if="${listaContactos != null}" class="table table-bordered table-hover table-striped"
						id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">NOMBRE DEL CONTACTO</th>
								<th class="text-center">NÚMERO DEL CONTACTO</th>
								<th class="text-center">OPERACIONES</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p: ${listaContactos}">
								<td align="center" th:text="${p.nombre}"></td>
								<td align="center" th:text="${p.numero}"></td>
								<td align="center">
									<a type="button" class="btn btn-warning celeste" th:href="@{'/contacto/modificar/'+ ${p.idContacto}}"><i class= "fas fa-edit"></i>	Editar</a>
									<a type="button" class="btn btn-danger" th:href="@{/contacto/eliminar?id=} + ${p.idContacto}"><i class= "fas fa-trash-alt"></i>	Eliminar</a>
								</td>
								<!-- <td align="center"><a type="button" class="btn btn-warning" th:href="@{'/contacto/alertar/'+ ${p.idContacto}}"><i class= "fas fa-edit"></i>	Alertar</a></td> -->
							</tr>
						</tbody>

					</table>

				</div>
			</div>
		</form>
	</div>

	<div th:replace="fragments/monicovidFooter :: footer"></div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
